.profile__edit-button {
    background: url("../../../images/icons/pen-logo.svg") no-repeat center;
    min-width: 24px;
    height: 24px;
    border:1px solid white;
    margin-left: 18px;
    align-self: baseline;
    display: inline-flex;
    transition: opacity .3s ease;
}

@media screen and (max-width:767px) {
    .profile__edit-button {
        min-width: 18px;
        height: 18px;
        margin-left:12px;
    }
}

.profile__edit-button:hover {
    opacity: .6;
    cursor: pointer;
}
