.profile__edit-button {
    background: url("../../../images/icons/pen-logo.svg") no-repeat center;
    width: 24px;
    height: 24px;
    border:1px solid white;
    margin-left: 18px;
    align-self: center;
    transition: opacity .3s ease;
}

@media screen and (max-width:767px) {
    .profile__edit-button {
        background-size: 8px 8px;
        width: 18px;
        height: 18px;
        margin-left:12px;
        padding:5px;
    }
}

.profile__edit-button:hover {
    opacity: .6;
    cursor: pointer;
}
