.footer {
    padding-top: 67px;
    padding-bottom: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

@media screen and (max-width:767px) {
    .footer {
        padding: 48px 19px 36px;
        font-size: 14px;
        line-height: 17px;
    }
}