.photo-grid__like-button {
    border:none;
    background: url("../../../images/icons/like-logo.svg") no-repeat transparent center;
    min-width: 22px;
    height: 19px;
    padding-right: 30px;
    align-self: center;
    transition: opacity .3s ease;
}

.photo-grid__like-button:hover {
    opacity: .5;
    cursor: pointer;
}

.photo-grid__like-button:active {
    background: url("../../../images/icons/like-logo-active.svg") no-repeat center;
    opacity: 1;
}
